# stv-check/

# ignore file extensions
*~
*.pyc
*.AVI
*.avi
*.ogv
*.OGV
*.mp4
*.MP4
*.DAT
*.dat
*.MKV
*.mkv
*.vob
*.VOB
*.3gp
*.3GP
*.mov
*.MOV
*.mp3

# ignore files
scratch.py
test*.py
hachoir-metadata-gtk
